<section>
  <div class="page-header">
    <h1>{{vm.form._id ? 'Edit Form' : 'New Form'}}</h1>
  </div>
  <div class="col-md-12">
    <form name="vm.form.formForm" class="form-horizontal" ng-submit="vm.save(vm.form.formForm.$valid)" novalidate>
      <fieldset>

        <div class="form-group" show-errors>

          <label class="control-label" for="project_id">Project ID:</label>
          <input 
            type="number" 
            ng-model="vm.form.project_id" 
            id="project_id" 
            class="form-control" 
            placeholder="Project ID" 
            required>
          <div ng-messages="vm.form.formForm.project_id.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Form project id is required.</p>
          </div><br>

          <label class="control-label" for="dev_company_name">Developer:</label>
          <input 
            type="text" 
            ng-model="vm.form.dev_company_name" 
            id="dev_company_name" 
            class="form-control" 
            placeholder="Developer Company" 
            required>
          <div ng-messages="vm.form.formForm.dev_company_name.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Form dev company name is required.</p>
          </div><br>

          <label class="control-label" for="project_location">Project:</label>
          <input 
            type="text" 
            ng-model="vm.form.project_location" 
            id="project_location" 
            class="form-control" 
            placeholder="Project Location" 
            required>
          <div ng-messages="vm.form.formForm.project_location.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Form project location is required.</p>
          </div><br>

          <label class="control-label" for="contractor_company">Contractor Company:</label>
          <input
            type="text"
            ng-model="vm.form.contractor_company"
            id="contractor_company"
            class="form-control"
            placeholder="Contractor Company"
            required>
          <div ng-messages="vm.form.formForm.contractor_company.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Form contractor company is required.</p>
          </div><br>

          <label class="control-label" for="report_date_time">Date/Time:</label>
          <input 
            type="text" 
            ng-model="vm.form.report_date_time" 
            id="report_date_time" 
            class="form-control" 
            placeholder="Report Date Time" 
            required>
          <div ng-messages="vm.form.formForm.report_date_time.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Form report date time is required.</p>
          </div><br>

          <label class="control-label" for="weather">Weather:</label>
          <input 
            type="text" 
            ng-model="vm.form.weather" 
            id="name" 
            class="form-control" 
            placeholder="Weather" 
            required>
          <div ng-messages="vm.form.formForm.weather.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Form weather is required.</p>
          </div><br>

          <label class="control-label" for="temperature">Temperature:</label>
          <input  
            type="text" 
            ng-model="vm.form.temperature" 
            id="name" 
            class="form-control" 
            placeholder="Temperature" 
            required>
          <div ng-messages="vm.form.formForm.temperature.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Form temperature is required.</p>
          </div><br>

          <fieldset>
            <legend>Type of Review:</legend>

            <input type="checkbox" ng-model="vm.form.footings_review_type" id="footings_review_type" ng-click="alert('test')">
            <label for="footings_review_type"> Footings</label>

            <input type="checkbox" ng-model="vm.forms.foundation_walls_review_type" id="foundation_walls_review_type">
            <label for="foundation_walls_review_type"> Foundation Walls</label>

            <input type="checkbox" ng-model="vm.forms.sheathing_review_type" id="sheathing_review_type">
            <label for="sheathing_review_type"> Sheathing</label>

            <input type="checkbox" ng-model="vm.forms.framing_review_type" id="framing_review_type">
            <label for="framing_review_type"> Framing</label><br>

            <input type="checkbox" ng-model="vm.forms.other_review_type" id="other_review_type">
            <label for="other_review_type"> Other:</label>
            <input name="review_types_csv" type="text" id="other" class="form-control" placeholder="Other Review Type" required>
          </fieldset><br>

          <fieldset>
            <legend>Concrete:</legend>
            <p>rebar in correct position: </p>
            <input type="checkbox" ng-model="vm.forms.rebar_pos_reviewed" id="rebar_pos_reviewed">
            <label for="rebar_pos_reviewed">Reviewed</label>
            <input class="form-control" type="text" ng-model="vm.forms.rebar_pos_instructions" placeholder="Instructions"><br>

            <p>rebar right size and spacing: </p>
            <input type="checkbox" ng-model="vm.forms.rebar_size_spacing_reviewed" id="rebar_size_spacing_reviewed">
            <label for="rebar_size_spacing_reviewed">Reviewed</label>
            <input class="form-control" type="text" ng-model="vm.forms.rebar_size_spacing_instructions" placeholder="Instructions"><br>

            <p>hold down anchorage in place: </p>
            <input type="checkbox" ng-model="vm.forms.anchorage_reviewed" id="anchorage_reviewed">
            <label for="anchorage_reviewed">Reviewed</label>
            <input class="form-control" type="text" ng-model="vm.forms.anchorage_reviewed_instructions" placeholder="Instructions"><br>

            <p>formwork generally as per plan: </p>
            <input type="checkbox" ng-model="vm.forms.form_plan_reviewed" id="form_plan_reviewed">
            <label for="form_plan_reviewed">Reviewed</label>
            <input class="form-control" type="text" ng-model="vm.forms.form_plan_instructions" placeholder="Instructions"><br>
          </fieldset>

          <fieldset>
            <legend>Framing:</legend>
              <p>conforming with truss spec: </p>
              <input type="checkbox" ng-model="vm.forms.conformance_spec_reviewed" id="conformance_spec_reviewed">
              <label for="conformance_spec_reviewed">Reviewed</label>
              <input class="form-control" type="text" ng-model="vm.forms.conformance_spec_instructions" placeholder="Instructions"><br>

              <p>conformance with l-joist shop drawings: </p>
              <input type="checkbox" ng-model="vm.forms.conformance_drawing_reviewed" id="conformance_drawing_reviewed">
              <label for="conformance_drawing_reviewed">Reviewed</label>
              <input class="form-control" type="text" ng-model="vm.forms.conformance_drawing_instructions" placeholder="Instructions"><br>

              <p>beam and girder bearing: </p>
              <input type="checkbox" ng-model="vm.forms.beam_girder_bearing_reviewed" id="beam_girder_bearing_reviewed">
              <label for="beam_girder_bearing_reviewed">Reviewed</label>
              <input class="form-control" type="text" ng-model="vm.forms.beam_girder_bearing_instructions" placeholder="Instructions"><br>

              <p>continuity of top plates: </p>
              <input type="checkbox" ng-model="vm.forms.continuity_top_plate_reviewed" id="continuity_top_plate_reviewed">
              <label for="continuity_top_plate_reviewed">Reviewed</label>
              <input class="form-control" type="text" ng-model="vm.forms.continuity_top_plate_instructions" placeholder="Instructions"><br>

              <p>lintels/openings: </p>
              <input type="checkbox" ng-model="vm.forms.lintel_open_reviewed" id="lintel_open_reviewed">
              <label for="lintel_open_reviewed">Reviewed</label>
              <input class="form-control" type="text" ng-model="vm.forms.lintel_open_instructions" placeholder="Instructions"><br>

              <p>shearwalls/fastening/hold downs: </p>
              <input type="checkbox" ng-model="vm.forms.shearwalls_fastening_holddowns_reviewed" id="shearwalls_fastening_holddowns_reviewed">
              <label for="shearwalls_fastening_holddowns_reviewed">Reviewed</label>
              <input class="form-control" type="text" ng-model="vm.forms.shearwalls_fastening_holddowns_instructions" placeholder="Instructions"><br>

              <p>continuity of tall walls: </p>
              <input type="checkbox" ng-model="vm.forms.continuity_tall_walls_reviewed" id="continuity_tall_walls_reviewed">
              <label for="continuity_tall_walls_reviewed">Reviewed</label>
              <input class="form-control" type="text" ng-model="vm.forms.continuity_tall_walls_instructions" placeholder="Instructions"><br>

              <p>blocking in floor system for point loads: </p>
              <input type="checkbox" ng-model="vm.forms.blocking_floor_system_reviewed" id="blocking_floor_system_reviewed">
              <label for="blocking_floor_system_reviewed">Reviewed</label>
              <input class="form-control" type="text" ng-model="vm.forms.blocking_floor_system_instructions" placeholder="Instructions"><br>

              <p>wall sheathing: </p>
              <input type="checkbox" ng-model="vm.forms.wall_sheathing_reviewed" id="wall_sheathing_reviewed">
              <label for="wall_sheathing_reviewed">Reviewed</label>
              <input class="form-control" type="text" ng-model="vm.forms.wall_sheathing_instructions" placeholder="Instructions"><br>

              <p>wind girts: </p>
              <input type="checkbox" ng-model="vm.forms.wind_girts_reviewed" id="wind_girts_reviewed">
              <label for="wind_girts_reviewed">Reviewed</label>
              <input class="form-control" type="text" ng-model="vm.forms.wind_girts_instructions" placeholder="Instructions"><br>
          </fieldset>

          <label class="control-label" for="observation">Observation:</label>
          <input type="text" ng-model="vm.form.observation" id="observation" class="form-control" placeholder="Observations"><br>

          <label class="control-label" for="comments">Comments:</label>
          <input type="text" ng-model="vm.form.comments" id="comments" class="form-control" placeholder="Comments"><br>
          
          <input type="radio" ng-model="vm.form.inspection_status" value="Approved"> Approved
          <input type="radio" ng-model="vm.form.inspection_status" value="Not Approved"> Not Approved
          <input type="radio" ng-model="vm.form.inspection_status" value="Reinspection Required"> Reinspection Required
          
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-default">{{vm.form._id ? 'Update' : 'Create'}}</button>
        </div>
        <div ng-show="vm.error" class="text-danger">
          <strong ng-bind="vm.error"></strong>
        </div>
      </fieldset>
    </form>
  </div>
</section>
