<section>
  <div class="page-header">
    <h1>Forms</h1>
  </div>
  <div class="section">
    <div>Sort By:</div>
    <div ng-app="" ng-init="firstName=1;">
      <p>Input something in the input box:</p>
      <p>Name: <input type="text" ng-model="firstName"></p>
      <p>You wrote: {{ firstName }}</p>
      <button ng-click="Sort1()">asdfasdf</button>
    </div>
    <div class="dropdown">
      <div class="dropdown-trigger">
        <button class="button" aria-haspopup="true" aria-controls="dropdown-menu3">
          <span>ID</span>
          <span class="icon is-small">
        <i class="fas fa-angle-down" aria-hidden="true"></i>
      </span>
        </button>
      </div>
      <div class="dropdown-menu" id="dropdown-menu3" role="menu">
        <div class="dropdown-content">
          <a href="#" class="dropdown-item">
            Overview
          </a>
          <a href="#" class="dropdown-item">
            Modifiers
          </a>
        </div>
      </div>
    </div>

  </div>
  <table class="table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Location</th>
        <th>Time</th>
        <th>Played</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="form in vm.forms">
        <td>{{ form.form_id }}</td>
        <td>{{ form.project_location }}</td>
        <td>{{ form.report_date_time }}</td>
        <td>{{ form.inspector_name }}</td>
      </tr>
    </tbody>
  </table>
  <div class="alert alert-warning text-center" ng-if="vm.forms.$resolved && !vm.forms.length">
    No Forms yet, why don't you <a ui-sref="forms.create">create one</a>?
  </div>
</section>
