<table style="background-color: #ffffff; margin: 0 auto; max-width: 512px; width: inherit;" role="presentation"
  border="0" width="512" cellspacing="0" cellpadding="0" bgcolor="#FFFFFF">
  <tbody>
    <tr>
      <td style="background-color: #f6f8fa; padding: 5px 16px 13px; border-bottom: 1px solid #ececec;"
        bgcolor="#F6F8FA">&nbsp;</td>
    </tr>
    <tr>
      <td>
        <table role="presentation" border="0" width="100%" cellspacing="0" cellpadding="0">
          <tbody>
            <tr>
              <td>
                <h2
                  style="background-color: #0073b1; padding: 24px 20px; margin: 0; color: #ffffff; font-weight: bold; font-size: 20px; line-height: 1.2; text-align: center;">
                  &nbsp;</h2>
                <table role="presentation" border="0" width="100%" cellspacing="0" cellpadding="0">
                  <tbody>
                    <tr>
                      <td style="padding: 16px 24px;">
                        <table role="presentation" border="0" width="100%" cellspacing="0" cellpadding="0">
                          <tbody>
                            <tr>
                              <td>
                                <table role="presentation" border="0" width="auto" cellspacing="0" cellpadding="0"
                                  align="center">
                                  <tbody>
                                    <tr>
                                      <td>
                                        <img
                                          style="border-radius: 50%; color: #0073b1; display: inline-block; text-decoration: none;"
                                          src="{{profile}}" alt="User profile" width="70" height="70" border="0" /></a>
                                      </td>
                                    </tr>
                                  </tbody>
                                </table>
                              </td>
                            </tr>
                            <tr>
                              <td>
                                <table style="max-width: 396px; padding-bottom: 4px; text-align: center;"
                                  role="presentation" border="0" width="100%" cellspacing="0" cellpadding="0"
                                  align="center">
                                  <tbody>
                                    <tr>
                                      <td>
                                        <h2
                                          style="margin: 0; color: #262626; font-weight: 400; font-size: 16px; line-height: 1.5;">
                                          {{name}} shared a report with you
                                          <br>
                                          <br>
                                          {{message}}
                                        </h2>
                                      </td>
                                    </tr>
                                  </tbody>
                                </table>
                              </td>
                            </tr>
                            <tr>
                              <td>&nbsp;</td>
                            </tr>
                            <tr>
                              <td style="padding-top: 8px; text-align: center;" align="center">
                                <table role="presentation" border="0" width="100%" cellspacing="0" cellpadding="0">
                                  <tbody>
                                    <tr>
                                      <td dir="ltr" style="text-align: center!important;" align="center">&nbsp;</td>
                                    </tr>
                                    <tr>
                                      <td dir="ltr">&nbsp;</td>
                                    </tr>
                                    <tr>
                                      <td dir="ltr">
                                        <table style="display: inline-block;" border="0" cellspacing="0"
                                          cellpadding="0">
                                          <tbody>
                                            <tr>
                                              <td align="center" valign="middle">
                                                <table role="presentation" border="0" width="auto" cellspacing="0"
                                                  cellpadding="0">
                                                  <tbody>
                                                    <tr>
                                                      <td
                                                        style="border-radius: 2px; padding: 6px 16px; color: #0073b1; font-weight: 500; font-size: 16px; border: 1px solid #0073b1;">
                                                        <a style="color: #0073b1; display: inline-block; text-decoration: none;"
                                                          href="https://firms-service-u2hfkqxqka-uw.a.run.app" target="_blank"
                                                          rel="noopener">View</a></td>
                                                    </tr>
                                                  </tbody>
                                                </table>
                                              </td>
                                            </tr>
                                          </tbody>
                                        </table>
                                      </td>
                                    </tr>
                                  </tbody>
                                </table>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
  </tbody>
</table>