<section>
  <h1>
    FIRMS - Field Inspection Report Management System (For project Checkpoint only)
  </h1>
  <br/>
  <h3>
    Description:
  </h3>
  <p>
    Our project idea was inspired from a coop experience at a structural engineering office, where the company needed an
    automated method of writing/storing field reports submitted by their field inspectors. The field inspector would go out
    to construction sites, inspect the quality of the work and ensure if the site is up to the engineer’s standards and
    instructions.
  </p>
  <br/>
  <p>
    Inspection reports were initially written using paper forms and pen. The goal of our project will be to build a
    client/server web application that will automate the form generation process, with auto-complete features, and form
    management. Field inspectors will be able to login into a special website (client side), create a report, and have as
    many fields and associated data auto-filled for a given construction project. Many of these fields have unique
    relationships (e.g. contractors and developers working on project -- relational data in SQL database), while others are
    to do with auto-generating location and weather/temperature info (API calls - Google Maps, etc.). The inspector can
    either mark the status of their report as Passed, Failed, or Needs Re-Inspection.
  </p>

  <h3>
    Database:
  </h3>
  <ul>
    <li><a href="https://www.mongodb.com/">MongoDB</a></li>
  </ul>

  <h3>
    Frameworks used:
  </h3>
  <ul>
    <li><a href="https://bulma.io/documentation/">Bulma - Frontend Framework</a></li>
    <li><a href="http://meanjs.org/">MEAN.js - Fullstack Framework</a></li>
  </ul>

  <h3>
    External APIs used:
  </h3>
  <ul>
    <li><a href="https://developers.google.com/maps/documentation/javascript/tutorial">Google Maps API - Places, Geolocation, Geocoding, Javascript</a></li>
    <li><a href="https://openweathermap.org/current?fbclid=IwAR3aR69M58IWJMNPHMfGtk5DuWBQTWecqFu-v49sdDbtrVYphTCrMXeJ15E">Weather API</a></li>
  </ul>

  <h3>
    Deployment:
  </h3>
  <ul>
    <li><a href="https://www.docker.com/">Docker - Ubuntu Edition</a></li>
    <li><a href="https://cloud.google.com/run">Google Cloud Run</a></li>
  </ul>

</section>
