
<section class="hero is-info is-large" style="background-color: #0072c6; padding-bottom: 100px; clip-path: polygon(0 0, 800% 0%, 0% 100%, 0% 100%);">
  <div class="hero-body">
    <div class="container">
      
      <div class="columns">
        <div class="column">
          <h1 class="title" style="font-size: 60px">
            FIRMS
          </h1>
          <p class="subtitle" style="font-size: 20px; margin-top: 30px; margin-bottom: 30px">
            Automate & generate inspection forms.
            <br/>
            No more manually doing everything by hand.
          </p>
        </div>
        <div class="column has-text-centered" style="margin-top: 25px">
          <i class="fas fa-desktop" style="font-size: 140px"></i>
          <i class="fas fa-exchange-alt" style="font-size: 140px; margin-left: 40px; margin-right: 40px"></i>
          <i class="fas fa-database" style="font-size: 140px"></i>
        </div>
        </div>
      </div>
    </div>
</section>



<section class="container" style="margin-top: 100px; margin-bottom: 100px;">
  <div class="tile is-ancestor">
    <div class="tile is-vertical is-12">
      <div class="tile has-text-centered">
        <div class="tile is-parent is-vertical">
          <div class="tile is-child box">
            <i class="fas fa-question" style="font-size: 50px;
            margin-top: -35px;
            margin-bottom: 20px;
            color: #3e81bb"></i>
            <p class="title">
              What it is
            </p>
            <p class="subtitle">
              <a href="https://www.mongodb.com/">MongoDB</a>
            </p>
            <div class="content">
              explanation placeholder
            </div>
          </div>
        </div>
        <div class="tile is-parent is-vertical">
          <div class="tile is-child box">
            <i class="fas fa-cogs" style="font-size: 50px;
            margin-top: -35px;
            margin-bottom: 20px;
            color: #2daf9c"></i>
            <p class="title">
              How it works
            </p>
            <p class="subtitle">
              <a href="https://www.mongodb.com/">MongoDB</a>
            </p>
            <div class="content">
              explanation placeholder
            </div>
          </div>
        </div>
        <div class="tile is-parent is-vertical">
          <div class="tile is-child box">
            <i class="fas fa-users" style="font-size: 50px;
            margin-top: -35px;
            margin-bottom: 20px;
            color: #3292a2;"></i>
            <p class="title">
              Meet the team
            </p>
            <p class="subtitle">
              <a href="https://www.mongodb.com/">MongoDB</a>
            </p>
            <div class="content">
              explanation placeholder
            </div>
          </div>
        </div>
      </div>
  
    </div>
  </div>
</section>

<section style="margin-bottom: 100px;">
  <div class="container">
    <div class="columns">
      <div class="column is-3 has-text-centered">
      <h1 class="title" style="margin-top: 60px;
      font-size: 40px;">
        What is FIRMS
      </h1>
      <br/>
      <i class="fas fa-question" style="font-size: 80px;
      "></i>
    </div>
    <div class="column is-9">
      <p class="subtitle" style="font-size: 24px; margin-top: 50px;  line-height: 2;">
        FIRMS (Field Inspection Report Management System) was inspired from a coop experience at a structural engineering office, where the company needed an
        automated method of writing/storing field reports submitted by their field inspectors. The field inspector would go out
        to construction sites, inspect the quality of the work and ensure if the site is up to the engineer’s standards and
        instructions.
      </p>
    </div>
  </div>
</div>
</section>

<section style="margin-bottom: 100px; background-color: #0081c6;
padding-top: 150px;
padding-bottom: 150px;">
  <div class="container">
    

    <div class="columns">
      <div class="column is-9">
        <div class=box>
          <div class="columns">
            <div class="column has-text-centered" style="padding-top: 50px; padding-bottom: 50px;">
              <i class="fas fa-pencil-ruler" style="font-size: 40px;
              margin-bottom: 30px;
              color: #3292a2;"></i>
              <br/>
              <p class="title">
                Frameworks
              </p>
              <p class="subtitle">
                <a href="https://bulma.io/documentation/">Bulma.io</a>
                <br/>
                <a href="http://meanjs.org/">MEAN.js</a>
              </p>
              <div class="content" style="font-size: 24px; margin-top: 50px;  line-height: 1.6;">
                placeholder text blah blah
              </p>
            </div>
          </div>
          <div class="column has-text-centered" style="border-left: 0.5px solid #cac8c8;
          border-right: 0.5px solid #cac8c8; padding-top: 50px; padding-bottom: 50px;">
          <i class="fas fa-database" style="font-size: 40px;
          margin-bottom: 30px;
          color: #3292a2;"></i>
          <br/>
            <p class="title">
              Database
            </p>
            <p class="subtitle">
              <a href="https://www.mongodb.com/">MongoDB</a>
            </p>
            <div class="content" style="font-size: 24px; margin-top: 50px;  line-height: 1.6;">
              placeholder text blah blah
            </p>
          </div>
        </div>
        <div class="column has-text-centered" style="padding-top: 50px; padding-bottom: 50px;">
          <i class="fas fa-book-open" style="font-size: 40px;
              margin-bottom: 30px;
              color: #3292a2;"></i>
              <br/>
          <p class="title">
            APIs
          </p>
          <p class="subtitle">
            <a href="https://developers.google.com/maps/documentation/javascript/tutorial">Google Maps API</a>
            <br/>
            <a href="https://openweathermap.org/current?fbclid=IwAR3aR69M58IWJMNPHMfGtk5DuWBQTWecqFu-v49sdDbtrVYphTCrMXeJ15E">Weather API</a>
  
          </p>
          <div class="content" style="font-size: 24px; margin-top: 50px;  line-height: 1.6;">
            placeholder text blah blah
          </p>
        </div>
      </div>
          </div>
        
        </div>
      </div>
      <div class="column is-3 has-text-centered" style="color: white">
      <h1 class="title" style="
      font-size: 40px; color:white;">
        How it<br/>works
      </h1>
      <br/>
      <i class="fas fa-cogs" style="font-size: 80px;
      "></i>
    </div>
  </div>
</div>
</section>

<section class="container">

  <div class="box">
  <h1>
    FIRMS - Field Inspection Report Management System (For project Checkpoint only)
  </h1>
  <br/>
  <h3>
    Description:
  </h3>
  <p>
    Our project idea was inspired from a coop experience at a structural engineering office, where the company needed an
    automated method of writing/storing field reports submitted by their field inspectors. The field inspector would go out
    to construction sites, inspect the quality of the work and ensure if the site is up to the engineer’s standards and
    instructions.
  </p>
  <br/>
  <p>
    Inspection reports were initially written using paper forms and pen. The goal of our project will be to build a
    client/server web application that will automate the form generation process, with auto-complete features, and form
    management. Field inspectors will be able to login into a special website (client side), create a report, and have as
    many fields and associated data auto-filled for a given construction project. Many of these fields have unique
    relationships (e.g. contractors and developers working on project -- relational data in SQL database), while others are
    to do with auto-generating location and weather/temperature info (API calls - Google Maps, etc.). The inspector can
    either mark the status of their report as Passed, Failed, or Needs Re-Inspection.
  </p>



  <h3>
    Frameworks used:
  </h3>
  <ul>
    <li><a href="https://bulma.io/documentation/">Bulma - Frontend Framework</a></li>
    <li><a href="http://meanjs.org/">MEAN.js - Fullstack Framework</a></li>
  </ul>

  <h3>
    External APIs used:
  </h3>
  <ul>
    <li><a href="https://developers.google.com/maps/documentation/javascript/tutorial">Google Maps API - Places, Geolocation, Geocoding, Javascript</a></li>
    <li><a href="https://openweathermap.org/current?fbclid=IwAR3aR69M58IWJMNPHMfGtk5DuWBQTWecqFu-v49sdDbtrVYphTCrMXeJ15E">Weather API</a></li>
  </ul>

  <h3>
    Deployment:
  </h3>
  <ul>
    <li><a href="https://www.docker.com/">Docker - Ubuntu Edition</a></li>
    <li><a href="https://cloud.google.com/run">Google Cloud Run</a></li>
  </ul>
</div>


</section>


