<section>
  <!-- Weather API Section -->
	<div class="tile">
    <h1>Display Weather in console from location name &nbsp;</h1>
    <form style="padding-top: 20px;" data-ng-submit="getWeatherInfo()">
      <div class="columns">
        <div class="column">
          <div style="min-width: 300px;" class="field">
            <div class="control">
              <input class="input" type="text" ng-model="weather_location" placeholder="Location of Weather">
            </div>
          </div>
        </div>
        <div class="column">
          <button type="submit" class="button is-primary">Send</button>
        </div>
      </div>
    </form>
  </div>

  <br/>

  <!-- load scripts to load google maps API script on element load  -->
  <h1>Google Maps display current location in maps and in console &nbsp;</h1>
  <h3>Note: Requires permission to get your location</h3>
  <div class="tile googlemap-panel" ng-init="loadScript()">
    <br/>
    <button id="curr-location-btn">
      <i class="fas fa-location-arrow"></i>
    </button>
    <div id="map">
    </div>
    <input id="pac-input" class="controls" type="text" placeholder="Manual Set Location Search">
  </div>
</section>
